body {
  background: #1b1b1e;
  color: whitesmoke;
}
.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.square {
  width: 6.25rem;
  height: 6.25rem;
  font-size: 5rem;
  color: #373f51;
  border: solid 1px black;
}
.square_o {
  background-color: #d8dbe2;
}
.square_x {
  background-color: #a9bcd0;
}
.reset {
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: 2rem;
  background-color: #58a4b0;
  padding: 0.675rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
p {
  font-size: 2rem;
  text-align: center;
}
